*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;    
    background-color: #ffffff;
    width: auto;
    height: auto;
}

body {
    background-color: #263d54;
    width: auto;
    height: auto;

}

main {
    margin: 5px 50px 5px 50px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px; /* Tamaño de esquinas */
    border-color: rgb(255, 255, 255); /* Color de borde */
}

footer {
    background-color: #bf1b27; /* Color de fondo del footer */
    width: auto;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin: 5px 5px 5px 20px;
    line-height: 1.5; /* Interlineado */
    text-align: justify;
}

ol {
    font-family: 'Quicksand', sans-serif;
    list-style-type:decimal;
}

/*Inicio*/
.minicio {
    margin: 5px 50px 5px 50px;
    padding: 95px 5px 125px 5px;
    border-radius: 5px; /* Tamaño de esquinas */
    border-color: rgb(255, 255, 255); /* Color de borde */
}

.contenedorLogo{
    width: 100%;
    height: 210px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}


.logo {
    width: auto;
    height: 200px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.redes {
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.pp {
    width: auto;
    height: 200px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tw{
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.in{
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.fb{
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

/*Sobre la biblioteca*/
/*Sección mision visión y objetivos*/



.caja { 
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #263d54;
    border-radius: 10px;
    border-width: 10px;
    background-color: #ffffff;
    display: inline-block;
}

.imagen { 
    grid-area: imagen;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.biblio {
    width: 100%;
    height: auto;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

.objetivos { 
    grid-area: objetivos; 
    width: 100%;
    height: auto;
    margin: 1px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #263d54;
    border-radius: 10px;
    border-width: 10px;
    background-color: #ffffff;
    display: inline-block;
}

.listaobjetivos { 
    grid-area: listaobjetivos;
    width: 100%;
    height: auto;
}

.listaobjetivos ol{
    margin: 5px 5px 5px 20px;
    line-height: 1.5; /* Interlineado */
    text-align: justify;
}


/*Sección Comisión Directiva*/
.comisionDirectiva {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo titulo titulo titulo titulo"
        "presidente secretario tesorero vocal vocalSuplente";
    }

.titulo { 
    grid-area: titulo;
    }

.presidente { 
    grid-area: presidente;
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;  
    }

.secretario { 
    grid-area: secretario;
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;  
    }

.tesorero { 
    grid-area: tesorero;
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;  
    }

.vocal { 
    grid-area: vocal;
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;  
    }

.vocalSuplente { 
    grid-area: vocalSuplente;
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;  
    }



.titulo{
    grid-area:titulo;
}

.lista {
    padding: 5px 5px 5px 15px;
    margin: 5px 5px 5px 5px;
}

.lista1{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.ficha {
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    position: relative;
}

.datos {
    width: 150px;
    height: 150px;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    text-decoration: none;
}

.datos li {
    text-decoration: none;
}
.datos:hover {
    opacity:100%;
    text-decoration: none;
}

.comision {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 0rem 4rem 0rem 4rem;
    grid-area:comision;
}

/*Proyectos*/
.proyectos {
    width: 100%;
    height: auto;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.proyectos p {
    text-align: center;
}

.logoproy {
    width: auto;
    height: 200px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.logoproy:hover {
    opacity: 25%;
}

.catalogo{
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
}

.repo{
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
}

.indice{
    width: 200px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/*Novedades*/
.vermas {
    background-color:transparent;
    border-style: none;
    border-radius: 5px;
    color: #bf1b27;
    margin:0 0 0 1.5rem;
    padding:0 0 0 0.4rem;
}

.vermas:hover {
    cursor:pointer;
}
.post {
    width: 300px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    background-color: white;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: #263d54;
}

/*Contacto*/
.mcontacto {
    position:relative;
}
/* Formulario de contacto */
form {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

label {
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

textarea {
    width: 95%;
    margin: 0px 0px 0px 10px;
}

legend {
    font-family: 'Nunito', sans-serif;
}

img{
    width: auto;
    height: 200px;
}

.form {
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-color: #263d54;
}

.form input{
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

/* Fin formulario de contacto */

/*Datos de Contacto - Aside*/
.tel {
    width: auto;
    height: 50px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.redesContacto {
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.datosContacto {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
}

.datosContacto div {
    width: 100%;
    height: auto;
}

.datosContacto div p {
    text-align: center;
}


/*Clases para bootstrap*/
.fondoazul {
    background-color: #263d54;
    color: white;
}

.fondorojo {
    background-color: #bf1b27;
    color: white;
}

.fondoblanco {
    background-color: white;
    color:#000000;
}

.fondogris {
    background-color: #6d6d6d;
    color: white;
}

