@charset "UTF-8";
/*Main inicio*/
main .contenedorLogo {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; }
  main .contenedorLogo h6 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0;
    margin: 5px 5px 5px 5px; }
  main .contenedorLogo img {
    width: auto;
    height: 200px;
    padding: 5px;
    margin: 95px 5px 5px 5px; }

main .redes {
  width: 100%;
  height: auto;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-align: center; }
  main .redes img {
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 5px 5px 5px 5px; }

.finicio {
  margin: 135px 0 0 0; }

@media only screen and (min-width: 576px) {
  .finicio {
    margin: 100px 0 0 0; } }

/*Sobre*/
.sobre {
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo titulo titulo titulo titulo" "vision vision vision imagen imagen imagen" "objetivos objetivos objetivos objetivos objetivos objetivos" "tituloComision tituloComision tituloComision tituloComision tituloComision tituloComision" "cargos cargos cargos cargos cargos cargos"; }

.titulo {
  grid-area: titulo; }

.vision {
  grid-area: vision; }

.imagen {
  grid-area: imagen;
  display: inline-flex;
  justify-content: space-evenly; }
  .imagen img {
    border-style: solid;
    border-color: #263d54;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px; }

.cargos {
  grid-area: cargos;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.tituloComision {
  grid-area: tituloComision; }

.objetivos {
  grid-area: objetivos;
  width: 99%;
  height: auto;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-color: #263d54;
  border-radius: 10px;
  border-width: 3px;
  display: inline-block; }
  .objetivos ol {
    margin: 5px 5px 5px 10px;
    line-height: 1.5;
    /* Interlineado */
    text-align: justify; }

@media only screen and (max-width: 992px) {
  .sobre {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo titulo titulo" "vision vision vision" "imagen imagen imagen" "objetivos objetivos objetivos" "tituloComision tituloComision tituloComision" "cargos cargos cargos"; } }

/*Novedades*/
.vermas {
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  color: #bf1b27;
  margin: 0 0 0 1.5rem;
  padding: 0 0 0 0.4rem; }
  .vermas:hover {
    cursor: pointer; }

.post {
  width: 300px;
  height: auto;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  background-color: white;
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: #263d54; }

/*Proyectos - Catálogo*/
.koha {
  height: auto;
  width: 200px; }

.catalogo {
  width: 200px;
  height: auto;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block; }

/*Proyectos - Repositorio*/
.omeka {
  height: auto;
  width: 200px; }

.repo {
  width: 230px;
  height: auto;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block; }

/*Proyectos - Índice Político*/
.tematres {
  height: auto;
  width: 230px; }

.indice {
  width: 230px;
  height: auto;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; }

/*Contacto*/
.mcontacto {
  position: relative; }

/* Formulario de contacto */
form {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; }

label {
  font-family: "Nunito", sans-serif;
  padding: 5px;
  margin: 5px 5px 5px 5px; }

textarea {
  width: 95%;
  margin: 0px 0px 0px 10px; }

legend {
  font-family: "Nunito", sans-serif; }

img {
  width: auto;
  height: 200px; }

.form {
  width: 40%;
  height: auto;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 10px;
  border-color: #263d54; }
  .form input {
    padding: 5px;
    margin: 5px 5px 5px 5px; }

/* Fin formulario de contacto */
/*Datos de Contacto - Aside*/
.tel {
  width: auto;
  height: 50px;
  padding: 5px;
  margin: 5px 5px 5px 5px; }

.redesContacto {
  padding: 5px;
  margin: 5px 5px 5px 5px; }

.datosContacto {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  display: inline-block; }
  .datosContacto div {
    width: 100%;
    height: auto; }
    .datosContacto div p {
      text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #ffffff;
  width: auto;
  height: auto; }

body {
  background-color: #263d54;
  width: auto;
  height: auto; }

main {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  /* Tamaño de esquinas */
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0; }

p {
  font-family: "Quicksand", sans-serif;
  margin: 5px 5px 5px 20px;
  line-height: 1.5;
  /* Interlineado */
  text-align: justify; }

ol {
  font-family: "Quicksand", sans-serif;
  list-style-type: decimal; }

li {
  font-family: "Quicksand", sans-serif; }

footer {
  background-color: #bf1b27;
  /* Color de fondo del footer */
  width: auto;
  height: 100%; }

/*Clases para bootstrap*/
.fondoazul {
  background-color: #263d54;
  color: white; }

.fondorojo {
  background-color: #bf1b27;
  color: white; }

.fondoblanco {
  background-color: white;
  color: #000000; }

.fondogris {
  background-color: #6d6d6d;
  color: white; }
