    /*Proyectos - Catálogo*/
    //Proyectos - Catálogo

    .koha{
        height: auto;
        width: 200px;
    }


    .catalogo{
        width: 200px;
        height: auto;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        img:hover{
            opacity: 50%;
        }
    }

