    /*Proyectos - Catálogo*/
    //Proyectos - Catálogo

@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

@media only screen and (min-width:1200px){
    .koha{
        @include tamanio(250px, 200px);
    }
}

@media only screen and (max-width:1200px){
    .koha{
        @include tamanio(250px, 200px);
    }
}

@media only screen and (min-width:991px){
    .koha{
        @include tamanio(200px, 150px);
        height: 150px;
        width: 200px;
    }
}

    @media only screen and (max-width:991px){
        .koha{
            @include tamanio(150px, 150px);
        }
}

    @media only screen and (max-width:767px){
        .koha{
            @include tamanio(200px, 150px);
        }
}


    .catalogo{
        @include tamanio(230px, auto);
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        img:hover{
            opacity: 50%;
        }
    }

