/*Contacto*/
// Contacto

@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

.mcontacto {
    position:relative;
}
/* Formulario de contacto */
form {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

label {
    font-family: $nunito;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

textarea {
    width: 95%;
    margin: 0px 0px 0px 10px;
}

legend {
    font-family: $nunito;
}

img{
    @include tamanio(auto, 200px);
}

.form {
    @include tamanio(40%, auto);
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-color: $azul;
    input{
        padding: 5px;
        margin: 5px 5px 5px 5px;
    }
}

/* Fin formulario de contacto */

/*Datos de Contacto - Aside*/
.tel {
    @include tamanio(auto, 50px);
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.redesContacto {
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.datosContacto {
    @include tamanio(100%, auto);
    text-align: center;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    div {
        @include tamanio(100%, auto);
        p {
            text-align: center;
        }
    }
}