    /*Proyectos - Índice Político*/
    //Proyectos - Índice Político

    div{
        display:flex;
        flex-wrap: wrap;
}

    @media only screen and (max-width:991px){
        .tematres{
            height: 155px;
            width: 155px;
        }
}

    @media only screen and (max-width:767px){
        .tematres{
            height: 200px;
            width: 200px;
        }
}

    .indice{
        width: 230px;
        height: auto;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        img:hover{
            opacity: 50%;
        }
    } 