    /*Proyectos - Índice Político*/
    //Proyectos - Índice Político

@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

    @media only screen and (max-width:991px){
        .tematres{
            @include tamanio(155px, 155px);
        }
}

    @media only screen and (max-width:767px){
        .tematres{
            @include tamanio(200px, 200px);
        }
}

    .indice{
        @include tamanio(230px, auto);
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        img:hover{
            opacity: 50%;
        }
    } 