    /*Proyectos - Índice Político*/
    //Proyectos - Índice Político

    .tematres{
        height: auto;
        width: 230px;
    }

    .indice{
        width: 230px;
        height: auto;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        img:hover{
            opacity: 50%;
        }
    } 