// Main Inicio
/*Main inicio*/

main {
    .contenedorLogo{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;

        h6 {
            text-align: center;
            font-family: $nunito;
            margin-bottom: 0;
            margin: 5px 5px 5px 5px;
        }

        img{
            width: auto;
            height: 200px;
            padding: 5px;
            margin: 95px 5px 5px 5px;
        }
    }



    .redes{
        width: 100%;
        height: auto;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        text-align: center;

        img{
            width: auto;
            height: 40px;
            padding: 5px;
            margin: 5px 5px 5px 5px;    
        }
    }
}

.finicio{
    margin: 200px 0 0 0;
}

@media only screen and (min-width:576px){
.finicio{
    margin: 100px 0 0 0;
}
    }

