// Main Inicio
/*Main inicio*/
@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}




main {
    .contenedorLogo{
        @include tamanio(100%, 100%);
        text-align: center;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;

        h6 {
            text-align: center;
            font-family: $nunito;
            margin-bottom: 0;
            margin: 5px 5px 5px 5px;
        }

        img{
            @include tamanio(auto, 200px);
            padding: 5px;
            margin: 95px 5px 5px 5px;
        }
    }



    .redes{
        width: 100%;
        height: auto;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        text-align: center;

        img{
            width: auto;
            height: 40px;
            padding: 5px;
            margin: 5px 5px 5px 5px;    
        }
    }
}

.minicio{
    @include tamanio(auto, 510px);
}

@media only screen and (min-width:576px){
    .minicio{
        @include tamanio(auto, 600px);
    }
}

@media only screen and (min-width:992px){
    .minicio{
        @include tamanio(auto, 500px);
    }
}

@media only screen and (min-width:1200px){
    .minicio{
        @include tamanio(auto, 539px);
    }
}