/*Novedades*/
// Novedades
@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

.vermas {
    background-color:transparent;
    border-style: none;
    border-radius: 5px;
    color: $rojo;
    margin:0 0 0 1.5rem;
    padding:0 0 0 0.4rem;
    &:hover{
        cursor:pointer;
    }
}

.post {
    @include tamanio(300px, auto);
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: $azul;
    display:inline-block;
    .texto{
        @include tamanio(auto, 150px);
        overflow: hidden;
    }
}