/*Novedades*/
// Novedades
.vermas {
    background-color:transparent;
    border-style: none;
    border-radius: 5px;
    color: $rojo;
    margin:0 0 0 1.5rem;
    padding:0 0 0 0.4rem;
    &:hover{
        cursor:pointer;
    }
}

.post {
    width: 300px;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:inline-block;
    background-color: white;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: $azul;
}