    /*Proyectos - Repositorio*/
    //Proyectos - Repositorio
    div{
        display:flex;
        flex-wrap: wrap;
}

    @media only screen and (max-width:991px){
        .omeka{
            height: 155px;
            width: 155px;
        }
}

    @media only screen and (max-width:767px){
        .omeka{
            height: 200px;
            width: 200px;
        }
}
    
    .repo{
        width: 230px;
        height: auto;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        img:hover{
            opacity: 50%;
        }
    }


        
