    /*Proyectos - Repositorio*/
    //Proyectos - Repositorio
    @mixin tamanio ($ancho,$alto) {
        width: $ancho;
        height: $alto;
    }

    @media only screen and (max-width:991px){
        .omeka{
            @include tamanio(155px, 155px);
        }
}

    @media only screen and (max-width:767px){
        .omeka{
            @include tamanio(200px, 200px);
            height: 200px;
            width: 200px;
        }
}
    
    .repo{
        @include tamanio(230px, auto);
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        img:hover{
            opacity: 50%;
        }
    }


        
