    /*Proyectos - Repositorio*/
    //Proyectos - Repositorio
    
    .omeka{
        height: auto;
        width: 200px;
    }
    
    .repo{
        width: 230px;
        height: auto;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        img:hover{
            opacity: 50%;
        }
    }

