/*Sobre*/
// Sobre

@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

.sobre {
    position:relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo titulo titulo titulo titulo titulo"
        "vision vision vision imagen imagen imagen"
        "objetivos objetivos objetivos objetivos objetivos objetivos"
        "tituloComision tituloComision tituloComision tituloComision tituloComision tituloComision"
        "cargos cargos cargos cargos cargos cargos";
}

.titulo { 
    grid-area: titulo; 
}

.vision { 
    grid-area: vision; 
}

.imagen { 
    grid-area: imagen; 
    display:inline-flex;
    justify-content: space-evenly;
    img{
        @include tamanio(auto, auto);
        border-style: solid;
        border-color: $azul;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        padding: 5px;
    }
}

.cargos { 
    grid-area: cargos;
    display:inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tituloComision { 
    grid-area: tituloComision; 
}

.objetivos { 
    grid-area: objetivos;
    width: 99%;
    height: auto;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: $azul;
    border-radius: 10px;
    border-width: 3px;
    display: inline-block;
    ol {
        margin: 5px 5px 5px 10px;
        line-height: 1.5; /* Interlineado */
        text-align: justify; 
    }
}

@media only screen and (max-width:992px) {
    .sobre {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "titulo titulo titulo"
            "vision vision vision"
            "imagen imagen imagen"
            "objetivos objetivos objetivos"
            "tituloComision tituloComision tituloComision"
            "cargos cargos cargos";
    }
}