@import "./variables";
@import "../scss/inicio";
@import "../scss/sobre";
@import "../scss/novedades";
@import "../scss/catalogo";
@import "../scss/repositorio";
@import "../scss/indice";
@import "../scss/contacto";

@mixin tamanio ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    @include tamanio(auto, auto);
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;    
    background-color: #ffffff;
}

body {
    @include tamanio(auto, auto);
    background-color: $azul;
}

main {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px; /* Tamaño de esquinas */
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: $nunito;
    margin-bottom: 0;
}

p {
    font-family: $quick;
    margin: 5px 5px 5px 20px;
    line-height: 1.5; /* Interlineado */
    text-align: justify;
}

ol {
    font-family: $quick;
    list-style-type:decimal;
}

li {
    font-family: $quick;
}

footer {
    @include tamanio(auto, 100%);
    background-color: $rojo; /* Color de fondo del footer */
}

/*Clases para bootstrap*/
.fondoazul {
    background-color: $azul;
    color: white;
}

.fondorojo {
    background-color: $rojo;
    color: white;
}

.fondoblanco {
    background-color: white;
    color:#000000;
}

.fondogris {
    background-color: #6d6d6d;
    color: white;
}